{% extends "account/base.html" %}
{% load i18n %}
{% load static %}

{% block head_title %}
    {% trans "Password Reset Sent" %}
{% endblock head_title %}

{% block content %}
<div class="login-box">
    <img src="https://projectb28.s3.amazonaws.com/static/UHR-Main-Logo.png" class="logo" alt="App Logo" width="200" height="auto">
    
    <h2>{% trans "Password Reset Sent" %}</h2>
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <p>{% trans "We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder." %}</p>
    {% endif %}
    <p>{% trans "Didn't receive the email?" %} <a href="{% url 'account_reset_password' %}">{% trans "Try again" %}</a></p>
</div>
{% endblock content %}