{% extends "account/base.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}

{% block content %}
<div class="login-box">
    <img src="https://projectb28.s3.amazonaws.com/static/UHR-Main-Logo.png" class="logo" alt="App Logo" width="200" height="auto">

    <h2>{% trans "Change Password" %}</h2>

    <form method="post" action="{% url 'account_change_password' %}" class="form-signin">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group {% if field.field.widget.input_type != 'checkbox' %}mb-3{% endif %}">
            {{ field|add_class:"form-control" }}
            {% if field.help_text %}
                <small class="form-text text-muted password-guidelines">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </small>
            {% endif %}
            {% for error in field.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </div>
        <button type="submit" class="btn btn-primary btn-block signup-btn">{% trans "Change Password" %}</button>
    </form>    
    <!-- {% url 'account_change_password' as action_url %}
    {% element form form=form method="post" action=action_url %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form %}
            {% endelement %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" %}
                {% trans "Change Password" %}
            {% endelement %}
            <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        {% endslot %}
    {% endelement %} -->
</div>
{% endblock content %}
