{% extends "account/base.html" %}
{% load i18n allauth account %}
{% load widget_tweaks %}

{% block head_title %}
    {% trans "Password Reset" %}
{% endblock head_title %}

{% block content %}
<div class="login-box">
    <img src="https://projectb28.s3.amazonaws.com/static/UHR-Main-Logo.png" class="logo" alt="App Logo" width="200" height="auto">
    <h2>{% trans "Password Reset" %}</h2>
    {% if user.is_authenticated %}
        <p>{% trans "You are already logged in." %}</p>
    {% else %}
        <p>{% trans "Forgotten your password? Enter your email address below, and we'll email you a link to reset it." %}</p>
        <form method="post" action="{% url 'account_reset_password' %}" class="form-signin">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group mb-3">
                    {{ field|add_class:"form-control" }}
                    {% for error in field.errors %}
                        <div class="alert alert-danger" role="alert">
                            {{ error }}
                        </div>
                    {% endfor %}
                </div>
            {% endfor %}
            <button type="submit" class="btn btn-primary btn-block">{% trans "Reset My Password" %}</button>
        </form>
    {% endif %}
    <p class="mt-4">{% trans "Please contact us if you have any trouble resetting your password." %}</p>
</div>
{% endblock content %}