<html>
<head>
    <meta charset="utf-8">
    <title>Forums Page</title>
  </head>
  <body>
    <h1>List of Threads</h1>

    <table>
      <thead>
        <tr>
          <th>Thread</th>
          <th>Posts</th>
          <th>Date Created</th>
          <th>View</th>
        </tr>
      </thead>
      <tbody>
        {% for thread in list %}
          <tr>
            <td>
              {{ thread.title }}<br>
            </td>
            <td>0</td>
            <td>{{thread.created_at}}</td>
            <td>
              <button>Hi</button>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>